<div class="container">
	<h3>List of Books</h3>
	<a routerLink="/home/book">Add a book to list</a>
	<table class="table table-bordered">
	  <tr>
	  	<th>ID</th>
	  	<th>Book Title</th>
	  	<th>Category</th>
	  	<th></th>
	  	<th></th>
	  </tr>

	 	<tr *ngFor="let book of bookList">
	 		<td>{{ book._id }}</td>
	 		<td>{{ book.title }}</td>
	 		<td>{{ book.category }}</td>
	 		<td><Button class="btn btn-primary" routerLink="/home/book/{{ book._id }}">Edit</Button></td>
	 		<td><Button class="btn btn-danger" (click)="deleteBook(book._id)">Delete</Button></td>
	 	</tr> 
		
	</table>
</div>