<div class="container">
	<h1 class="well">About ngBookStore</h1>
	<p>This project is a built on the MEAN Stack (Mongo, Express, Angular 2, Node) in order to help anyone who is trying to learn how these Javascript technologies work together.</p>
	<p>It shows how to do CRUD operation with Mongo DB and nested router control for Angular 2.</p>

	<hr>

	<p>This is the user area. For admin view, click on Manage at the footer of the page. For simplicy, authentication is not implemented. I will be doing a project to demonstrate that soon. </p>
	<hr>

	<p>This is the user area. For admin view, click on Manage at the footer of the page. For simplicy, authentication is not implemented. I will be doing a project to demonstrate that soon. </p>
	<hr>

	<p>This is the user area. For admin view, click on Manage at the footer of the page. For simplicy, authentication is not implemented. I will be doing a project to demonstrate that soon. </p>
